<html>

<body>
       <form  method="POST" action="/checkcode">
            <center><input type="text" name="key" placeholder="Username"></center>
            <center><buttontype="submit">Login</button></center>
        </form>
</body>
</html>